/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* common */
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

body{
  font-family: 'Montserrat', sans-serif;
}

.container{
  width: 80%;
  margin: 15px auto;
}

/* header */
.logo img{
  width: 20%;
  border-right: 1px solid #e5e5e5;
  padding-right: 2%;
}

.nav-bar{
  margin: 40px 0;
}

.nav-bar li{
  list-style: none;
  display: inline;
  padding-right: 10px;
  text-transform: uppercase;
}

.color-gray{
  color: gray;
}

/* main */
.hero{
  height: 600px;
  margin-bottom: 40px;
  background-image: url(../img/banner.jpg);
}

.hero-text{
  width: 50%;
  position: absolute;
  bottom: 20%;
  left: 5%;
  color: #ffffff;
  z-index: 1;
}

.hero-text h1{
  font-weight: 400;
}

.img{
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.overlay::after{
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.leadership-title h2{
  font-size: 30px;
}

.row{
  padding: 40px 0;
}

.row *{
  float: left;
}

.col-left, .col-right{
  width: 20%;
}

.col-center{
  width: calc(60% - 40px);
  margin: 0 20px;
}

.row .img{
  height: 200px;
  width: 100%;
  margin-bottom: 20px;
}

.row h3{
  font-weight: 400;
  font-size: 1em;
  margin-bottom: 10px;
}

.col-left .img{
  background-image: url(../img/img-1.jpg);
}

.col-center .img{
  background-image: url(../img/banner-2.jpg);
}

.col-right .img{
  background-image: url(../img/img-2.jpg);
}

/* footer */

.footer{
  text-align: center;
  margin-bottom: 30px;
}

.color-red{
  color: red;
}